/******************************
*
*   Introduction panel
*
******************************/

.intro {
  display: table;
  width: 100%;
  height: 100vh;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background-color: #000;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0,0.6)),
                  url(../img/backgrounds/01.png) no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.intro .intro-body .brand-heading {
  font-size: 40px;
}

.intro .intro-body .intro-text {
  font-size: 18px;
}

#intro-logo {
  width: 40%;
  height: 40%;
  padding: 3vh 0 25px 0;
}

.intro .subscribeButton {
  margin-top: 5vh;
  padding-top: 13px;
  font-family: Orbitron;

}

#intro-arrow {
  margin-top: 10vh;
}

.subscribeButton {
  width: 200px;
}

.stay-tuned {
  float: right;
}

.get-involved {
  float: left;
}

@media(max-width:768px) {

  #intro-logo {
    width: 40%;
  }

  .intro {
    height: 100vh;
    padding: 0;
  }

  .intro .intro-body .brand-heading {
    font-size: 100px;
  }

  .intro .intro-body h2 {
    font-size: 27px;
  }

}

@media(max-width:650px) {
  .intro .intro-body h2 {
    font-size: 22px;
  }

}

@media(max-width:475px) {
  #intro-logo {
    padding: 2vh 0 25px 0;
  }

  .intro .intro-body h1 {
    font-size: 2.5em;
  }

  .intro .intro-body h2 {
    font-size: 1.2em;
  }

  .subscribeButton {
    font-size: 0.85em;
    width: 137px;
  }

  #intro-arrow {
    zoom: 0.8;
    margin-top: 10vh;
  }

}



/******************************
*
*   About Us Section
*
******************************/

#AboutUs {
  padding-top: 100px;
}

.about {
  display: inline;
  float: none;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 30px;
  width: 80%;
  padding: 80px 0px;
}

.about_area{
  float: left;
  display: inline;
  width: 100%;
  min-height: 200px;
}

.about_content{
  float: left;
  display: inline;
  width: 100%;
  padding: 50px 0px;
}

.about_featured{
  float: left;
  display: inline;
  width: 100%;
}

.about_slider{
  float: left;
  display: inline;
  width: 100%;
  height: 350px;
}

.about_slider .slick-dots li button:before {
  color: #ccc;
  content: "•";
  font-size: 28px;
}

.about_slider .slick-dots li.slick-active button:before {
  opacity: 0.75;
}

.aboutus-boxes {
  max-width: 90%;
  margin: auto;
}

.aboutus-boxes .box {
  background:#000;
  margin: 1%;
  padding: 0;
  outline: 20px solid #eee;
  border-spacing:0;
  max-width: 31.3%
}

.aboutus-boxes .box .img-reponsive {
  margin-top: 0px;
}

.aboutus-boxes .box .inside {
  height: 330px;
}

.aboutus-boxes .box .inside p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  padding: 20px
}

.aboutus-boxes .box .inside h4 {
  text-transform: uppercase;
  color: #23b2c6;
}

@media(min-width: 1250px) {
  .aboutus-boxes .box .inside {
    height: 260px;
  }
}

@media(min-width: 651px) and (max-width:991px) {

  .aboutus-boxes .box {
    max-width: 48%;
    overflow: hidden;
  }

  .aboutus-boxes .box:nth-child(-n+2) .inside{
    height: 260px;
  }

  .aboutus-boxes .wider-box {
    height: 30%;
    max-height: 300px;
    min-width: 98%;
  }

  .aboutus-boxes .wider-box .inside {
    margin-top: 5%;
    margin-bottom: 0;
    height: 100%;
    display: inline-block;
    float: right;
    width: 55%;
  }

  .aboutus-boxes .wider-box img {
    margin-left: -5%;
    display: inline-block;
    float: left;
    max-height: 300px;
    width: 50%
  }

  .aboutus-boxes .wider-box .inside p {
    padding: 20px 8px 10px 8px;
    margin-bottom: 0;
  }
}

@media(max-width:850px) {

    .aboutus-boxes .box .inside p {
      font-size: 14px;
    }
}

@media(max-width:768px) {

  .aboutus-boxes {
    max-width: 95%;
    padding-top: 20px;
  }

  #AboutUs .text-content p {
    font-size: 16px;
  }

}

@media(max-width:650px) {

  .aboutus-boxes .box {
    max-width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    height: auto;
  }

  .aboutus-boxes .box .inside {
    height: auto;
  }

  .aboutus-boxes .box .inside p {
    font-size: 15px;
  }

}


/******************************
*
*   Where We Are Section
*
******************************/

#WhereWeAre {
  padding-top: 100px;
}

#WhereWeAre .text-content {
  width: 100%;
  margin: 0;
  padding: 0 10% 5% 10%;
}

#WhereWeAre .text-content p {
  font-size:16px;
  font-weight:400;
}

#WhereWeAre .subscribeButton {
  font-family: Armata;
}

#map-container {
  height: 500px;
  margin: 0 !important;
  padding: 0 !important;
}

#map-inner {
  position: relative;
  height: 100%;
}

#map {
  display: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  z-index: 0;
}

#chapter-details-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 3%;
  margin: auto;
  width: 300px;
  height: 75%;
  padding: 4px !important;
}

#chapter-details {
  padding: 0 0 0 0 !important;
  background-color: #000;
  border-radius: 2px;
  height: 100%;
  width: 100%;
  box-shadow: 5px -2px 6px rgba(0,0,0,0.16), 5px -2px 6px rgba(0,0,0,0.23);
  overflow: hidden;
  padding-top: 10px;
  text-align: center;
}

#chapter-details .btn-circle-small:hover, .btn-circle-small:focus {
  outline: 0;
  border: 2px solid #fff;
  border-radius: 100%!important;
  color: #000;
  background: #fff;
}

#chapter-details .btn-circle-small span {
  font-size: 10px;
}

#chapter-details #meetup-btn {
  padding-left: 5px;
  padding-top: 10px;
}

#chapter-details #twitter-btn {
  padding-top: 15px;
}

#chapter-details .fa-twitter {
  font-size: 35px;
}

.fa-home {
  zoom: 4;
}

#chapter-details #home-btn {
  padding-top: 8px;
}

#chapter-details .btn-circle-small {
  width: 65px;
  height: 65px;
  padding-top: 12px;
  margin: 35px 8px 8px 8px;
  border: 2px solid white;
}

#chapter-details img {
  margin-top: 36px;
  max-width:100% !important;
  border: 4px solid #000;
}

#chapter-details .img-container {
  height: 213px;
  overflow: hidden
}

#chapter-details h2 {
  font-size: 25px;
  padding-top: 15px;
  color: #23b2c6;
  max-width: 100% !important;
  margin: auto;
}

#chapter-details .city-abbreviation {
  color: #fff;
}

#WhereWeAre {
  padding-bottom: 0;
}

#stats {
  background:#23b2c6;
}

.counter_section {
  background-color:#000;
  display: inline;
  float: none;
  min-height: 350px;
  padding: 80px 0;
  position: relative;
  width: 100%;
}

.counter_area {
  position: relative;
  z-index: 999;
}

.counter {
 padding: 20px 0;
 border-radius: 5px;
}

.count-title {
  color: #fff;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 15px;
  text-align: center;
}

.count-text {
  color: #fff;
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
}


@media(max-width: 991px) {
  #chapter-details-container {
    display: none;
  }
}

@media(max-width: 768px) {
  #WhereWeAre .subscribeButton {
    margin: 35px;
  }
}

@media(max-width: 650px) {
  #map-container {
    height: 350px;
  }

  #map {
    height: 350px;
  }

}

@media(max-width:500px) {
  #map-container {
    display: none;
  }

  #stats .container {
    padding: 0;
  }

  .count-text {
    font-size: 14px;
  }

}

/******************************
*
*   What We Do Section
*
******************************/

#WhatWeDo {
  padding-top: 100px;
  padding-bottom: 150px;
}

.whatwedo-boxes {
  max-width: 90%;
  margin: auto;
}

.whatwedo-boxes .box {
  background:#000;
  margin: 1%;
  padding: 0;
  outline: 20px solid #eee;
  border-spacing: 0;
  max-width: 23%;
}

.whatwedo-boxes .box .inside {
  height: 150px;
  padding: 8% 5px;
}

.whatwedo-boxes .box .inside p {
  color:#fff;
  font-size:16px;
  font-weight:400;
  padding: 20px
}

.whatwedo-boxes .box .inside h4 {
  text-transform: uppercase;
  color: #23b2c6;
}

.whatwedo-boxes .box a > h4:hover {
  color: #fff !important;
}

.whatwedo-boxes .box .img-reponsive {
  margin-top: 0px;
}

@media(max-width: 1250px) {
  .whatwedo-boxes .box h4 {
   font-size:16px;
  }

  .whatwedo-boxes .box .inside p {
    font-size:14px;
  }
}

@media(max-width: 991px) {
  .whatwedo-boxes .box {
    max-width: 48%;
  }

  .whatwedo-boxes .box h4 {
   font-size: 20px;
  }

  .whatwedo-boxes .box .inside p {
    font-size: 16px;
  }

  #WhatWeDo {
    padding-bottom: 75px;
  }
}

@media(max-width: 650px) {
  .whatwedo-boxes {
    max-width: 80%;
  }

  .whatwedo-boxes .box {
    max-width: 100%;
  }
}

@media(max-width: 350px) {
  .whatwedo-boxes .box h4 {
    font-size:16px;
  }

  .whatwedo-boxes .box .inside p {
    font-size:14px;
  }

}

/******************************
*
*   Join Us Section
*
******************************/

#JoinUs{
  padding: 100px 0 100px 0;
}

.cta-container {
  max-width: 90%;
  margin: auto;
}

.cta-content {
  padding:20px;
}

.cta-content .text-content {
  padding-top: 35px;
  font-size: 16px;
  font-weight: 400;
  height: 150px;
}

.cta-content a {
  font-family: Armata;
}

.social-btn {
  padding-left: 0;
}

/* Icons */
.fa-2x {
  color: #23b3c6;
  display: table;
  float: none;
  margin: 0 auto;
}

.fa-5x {
  color: #23b3c6;
  display: table;
  float: none;
  margin: 0 auto;
}

@media(max-width: 1200px) {
  .cta-content .text-content {
    height: 175px;
  }
}

@media(max-width: 1075px) {
  .cta-content .text-content{
    font-size: 16px;
  }
}

@media(max-width: 991px) {
  .cta-content {
    width: 48%;
    margin-bottom: 25px;
  }

  .cta-content .text-content {
    height: 125px;
    font-size: 16px;
  }

  .cta-content:nth-child(3) .text-content{
    height: auto;
  }

  .cta-content:nth-child(3){
      margin-left: 26%;
      margin-right: 26%;
  }
}

@media(max-width: 830px) {
  .cta-content .text-content {
    height: 150px;
    font-size: 16px;
  }
}

@media(max-width: 775px) {
  .cta-content .text-content {
    height: 165px;
  }
}

@media(max-width: 700px) {
  .cta-content .text-content {
    height: 185px;
  }
}

@media(max-width: 650px) {
  .cta-content, .cta-content:nth-child(3){
    width: 80%;
    margin: 5% 10%;
  }

  .cta-content .text-content, .cta-content:nth-child(3) .text-content {
    height: auto;
    margin-bottom: 20px;
  }
}

@media(max-width: 475px) {
  .cta-content a {
    max-width: 200px;
    font-size: 0.95em;
    font-weight: 600;
  }
}

/******************************
*
*   Social Wall Section
*
******************************/

#socialwall {
  padding: 100px 0;
}

.widget {
  border: 2px solid black;
  background-color: #fff;
  height: 500px;
  overflow: hidden;
}

.widget-container {
  padding: 50px;
}

.widget-container h2 {
  font-size: 1.4em;
}

@media(max-width: 1250px) {

  .widget-container {
    padding: 25px;
  }
}

@media(max-width: 991px) {

  .widget-container h2 {
    font-size: 1.15em;
  }

}

@media(max-width: 830px) {

  .widget-outer{
    width: 90%;
    margin: auto;
  }

  .widget-container {
    width: 48%;
    padding: 0;
    margin: 1%
  }

}

@media(max-width: 700px) {
  .widget-container h2 {
    font-size: 1.1em;
  }
}


@media(max-width: 650px) {
  .widget-container h2 {
    font-size: 1.25em;
  }

  .widget-container {
    width: 80%;
    margin: 5% 10% 15% 10%;
  }

  .widget-container .widget {
    height: 150vw;
    max-height: 500px;
  }
}


@media(max-width: 475px) {
  .widget-outer, .widget-container {
    width: 90%;
  }

  .widget-container {
    margin: 5% 5% 15% 5%;
  }
}

/******************************
*
*   About NeurotechX Section
*
******************************/



#aboutNTX .text-content {
  text-align:left;
}

.aboutntx-outer .dropdowns {
  text-align:left;
  padding-left: 5%;
  padding-right: 0;
}

#aboutNTX h4 {
  text-transform: uppercase;
}

#aboutNTX .text-content h4 {
  font-size: 20px;
}

#aboutNTX .text-content p {
  font-size: 14px;
}

#aboutNTX .btn-lg{
  height: 50px;
  margin-bottom: 25px;
  transition: all .3s ease-in-out;
  font-family: Orbitron;
  border: 1px solid #fff;
  font-size: 20px;
  line-height: 1.7;
  letter-spacing: 1px;
}

#aboutNTX .btn-lg:not(.opp-btn) {
  background-color: #23B3C6;
}

.opp-btn {
  margin-top: 18%;
}

#aboutNTX .btn-lg:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

#initiatives-header {
  padding-top: 18%
}

#aboutNTX .social-media-icons{
  text-align: left;
}

#aboutNTX .social-media-icons table {
  width: 60%;
  padding: 10px;
}

@media(max-width: 950px){
  #aboutNTX .btn-lg {
    font-size: 15px;
    line-height: 2.1;
    margin-top: 25px;
  }
}

@media(max-width: 650px) {
  .aboutntx-outer > *, .social-icons-outer {
    width: 80%;
    margin: 2.5% 10%;
  }

  .aboutntx-outer .dropdowns {
    padding-left: 15px;
  }

  .aboutntx-outer .dropdowns form {
    margin-bottom: 25px;
  }

  .aboutntx-outer .dropdowns h4, #initiatives-header{
    font-size: 18px;
    padding: 25px 0 0 0;
  }

}
