@charset "UTF-8";

@font-face {
  font-family: "neurotechx";
  src:url("fonts/neurotechx.eot");
  src:url("fonts/neurotechx.eot?#iefix") format("embedded-opentype"),
    url("fonts/neurotechx.woff") format("woff"),
    url("fonts/neurotechx.ttf") format("truetype"),
    url("fonts/neurotechx.svg#neurotechx") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "neurotechx" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "neurotechx" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-neurotechx-vector:before {
  content: "\78";
}
